body{
  padding:1em;
  background-color:white;
  font-family: 'Poppins', serif;
  /*font-family: 'Raleway', sans-serif;*/
  text-align:left;
  font-size:1.1em;
}
h1,h2,h3{
  font-weight: normal;
}
h1{
  font-family: 'Abril Fatface', serif;
  font-size:3em;
  text-shadow: 2px 2px cyan, 4px 4px yellow;
}
h2{
  font-family: 'Abril Fatface', serif;
  font-size:2em;
}
.hs{
  text-align:center;
}
embed{
  width:40em;
  height:25em;
  border:1px solid black;
}
#pdf{
  text-align:center
}
header{
  text-align:center;
}
a{
  color:navy;
  padding:.5em;
}
a:hover{
  text-shadow: 1px 1px cyan, 2px 2px deeppink;
}
img{
  width:60%;
  float:left;
  padding:0;
}
.vert{
  width:30%;
}
.pink{
  color:black;
  text-shadow: 1px 1px deeppink;
}
#personas{
  width:40%;
  padding-right:1em;
  float:left;
}
#cardsort{
  width:50%;
  padding-right:1em;
  float:left;
}
#intro{
  display:inline-block;
}
b{
  text-shadow: 1px 1px cyan;
}
